* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html {
    overflow-x:hidden ;
}
/*css de layout de area geral*/

body {
    font-size: 13px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
header {
    height: 100px;
    background-color: #000000;
    color: #fff;
}
.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo {
    display: flex;
}
.logo img {
    width: 150px;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu .menu_mobile {
    display: none;
}
.menu ul,
.menu li {
    list-style: none;
}
.menu ul {
    display: flex;
}
.menu li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    display: flex;
    align-items: center;
    height: 100px;
    transition: all 0.02s linear;
    border-bottom: 5px solid #000;
}
.menu li a:hover, .menu .active a{
   border-bottom: 5px solid #b98b59;
   color: #ccc;
}
.button {
    text-decoration: none;
    text-transform: uppercase;
    
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 195px;
    height: 45px;
    background-color: #b98b59;
    border-radius: 20px;
    padding: 10px 30px;
    margin: 30px 0px;

    border: 2px solid #b98b59;
    transition: all 0.02s linear;
}
.button:hover {
    border: 2px solid #fff;
}
#banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url("../images/background.jpg");
    background-size:cover;
    background-position: bottom;
    overflow: hidden;
}

#banner .sliders {
    width: 1000vw;
    height: 100%;
}
#banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.65);
}

#banner .slide_area {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
}
#banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}
#banner h1 span {
    color: #b98b59;
    
}
#banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}

#banner .slider_changer {
    width: 100vw;
    height: 20px;
    background-color: transparent;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner .pointer {
    width: 17px;
    height: 17px;
    border: 2px solid #b98b59;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: all 0.02s linear;
}
#banner .pointer:hover, 
#banner .pointer.active {
    background-color: #b98b59;
}

.default{
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
}
.default .section_title,
.default .section_desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .section_title {
    font-size: 20px;
}
.default .section_desc {
    font-size: 12px;
    color: #afafaf;
    margin-top: 13px;
    margin-bottom: 40px;
}
.default .section_body {
    max-width: 1140px;
    margin: auto;
}

.default.light {
    background-color: #f7f7f7;
}
.default.light .section_title,
.default.light .section_body {
    color: #000;
}

.default.dark {
    background-color: #000;
}
.default.dark .section_title,
.default.dark .section_body{
    color: #f7f7f7;
}
.slider_changer {
    margin-top: 30px;
    height: 20px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.pointer {
    width: 17px;
    height: 17px;
    border: 2px solid #b98b59;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: all 0.02s linear;
}

.pointer:hover, 
.pointer.active {
    background-color: #b98b59;
}



















/*css de area especifica*/

.section_about_us {
    display: flex;
}
.section_about_us__left {
    flex: 1;
}
.section_about_us__left p {
    font-size: 14px;
    line-height: 30px;
}
.section_about_us__right {
    width: 500px;
    height: 300px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.section_about_us__right .video{
    width: 446px;
    height: 276px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 30px;
    box-shadow: 3px 8px 20px #333;
    text-shadow: 3px 3px 20px;
}

.section_services {
    display: flex;
}
.section_services .section_service {
    flex:1;
    text-align: center;
    padding: 15px;
    border-left: 1px solid #333;
}
.section_services .section_service:last-child {
    border-right: 1px solid #333;
}
.section_service img {
    width: 80px;
    height: 80px;
}
.section_service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}
.section_service p {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 13px;
    color: #999;
}


.section_projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section_projects_filters{
    background-color: #ededed;
    border: 1px solid #d0d0d0;
    border-radius: 30px;    
    display: inline-block;
    padding: 0px 20px;
    
}
.section_projects_filters ul,
.section_projects_filters li {
    list-style: none;
    display: flex;
}
.section_projects_filters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #d0d0d0;
    border-bottom: 3px solid transparent;
    color: #555;
    cursor: pointer;
    transition: all 0.02s linear;
}
.section_projects_filters li:hover,
.section_projects_filters li.active{
    border-bottom: 3px solid #b98b59;
    color: #b98b59;
}
.section_projects_filters li:first-child {
    border-left: 0;
}


.section_projects__photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.section_projects__photo {
    width: 280px;
}
.section_projects__photo_area{
    margin: 10px;
    width: 256px;
    height: 164px;

    transition: all 2s linear;
}
.section_projects__photo img{
    width: inherit;
    height: inherit;
}

.section_projects__photo_info {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #f7f7f7;
}
.section_projects__photo_area:hover .section_projects__photo_info {
    display: flex;
}
.section_projects__photo_info h5 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.section_projects__photo_info p {
    font-size: 10px;
    text-align: center;
    text-transform: initial;
}


.background_team {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    padding: 0%;
}

.section__team_area {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px 0px;
}
.section_team {
    overflow:hidden;
    max-width: 920px;
    margin: auto;
}

.section__team_area .sliders {
    width: 1100vw;
    height: 100%;
    overflow: hidden;
}
.section__team_area .slide {
    width: 280px;
    height: 360px;
    display: inline-block;
    background-color: #f7f7f7;
    margin: 0px 15px;
}

.section__team_area .slide_area {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 10px;
    box-shadow: inset 0 0 20px #999;
}

.section__team_avatar {
    width: 180px;
    height: 180px;
}

.section__team_name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}

.section__team_job {
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}

.section__team_social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.section__team_social a {
    display: inline-flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #bebebe;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-left: 10px;
    transition: all 0.02s linear;
}

.section__team_social a:hover {
    background-color: #b98b59;
    cursor: pointer;
}

.section_clients {
    overflow: hidden;
    max-width: 740px;
    margin: auto;
}
.section_clients .sliders {
    overflow: hidden;
    width: 1140vw;
    height: 100%;
    margin: auto;
}
.section_clients .slide {
    display: inline-flex;
    max-width: 740px;
    display: inline-block;
    margin: auto;
}
.section_clients .slide_area {
    text-align: center;
}

.section_clients .slide_area h2 {
    margin-top: 30px;
    margin-bottom: 5px;
}
.section_clients .slide_area h3 {
    margin-bottom: 30px;
}
.section_clients .slide_area img {
    margin-bottom: 20px;
}
.section_clients .slide_area p {
    text-align: center;
    line-height: 25px;
    font-size: 15px;
}

.section_companys {
    background-color: #fff;
    max-width: 1140px;
    min-height: 160px;
    margin: auto;
    display: flex;
    justify-content: center;
    
}
.section_companys .containner {
    display:flex;
    justify-content:center;
    align-items: center;
}
.section_companys .company_logo {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.company_logo img {
    width: 100px;
    height: auto;
}

.section_map {
    background-image: url('../images/mapa.jpg');
    width: 100vw;
    height: auto;
    padding: 35px 0px;
}
.section_map .map_area {
    width: 1140px;
    height: auto;
    margin: auto;

}
.section_map .map_info {
    background-color: #fff;
    color: #999;
    width: 50%;
    height: auto;
    padding: 55px 40px 60px 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.section_map .info_item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.info_item .icon {
    width: 35px;
    height: 35px;
    background-color: #999;
    border-radius: 50%;

    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.info_item a {
    display: inline-block;
    text-decoration: none;
    color: #999;
    transition: all 0.02s linear;
}
.info_item a:hover {
    text-decoration: underline;
}
footer {
    color: #fff;
}

@media (max-width:450px) {
    header .logo img{
        margin-left: 50px;
    }
    .menu .menu_mobile {
        display: block;
        align-items: center;
        margin-right: 50px;
        transform: scale(1.2);
    }
    .menu nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 50vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
        }
    .menu ul {
        flex-direction: column;
    }
    .menu li a {
        font-size: 17px;
        font-weight: bold;
        border: 0;
        height: 50px;
        margin-left: 30px;
        }
    .menu li.active a, 
    .menu li a:hover {
        border: none;
        color: #b98b59;
    }
    #banner h1 {
        font-size: 30px;
    }

    #banner h2 {
        font-size: 13px;
    }
    .section_about_us {
        padding: 0px 50px;
    }
    .section_about_us, .section_about_us__left, .section_about_us__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      .section_about_us__left p{
        text-align: justify;
      }
      .section_about_us__right .video {
        transform: scale(0.7);
      }
      .section_services {
        padding: 0px 50px;
        flex-wrap: wrap;
      }
      .section_services .section_service {
        flex-wrap: wrap;
        min-width: 100%;
        margin-top: 50px;
        border-left: none;
        text-align: center;
      }
      .section_services .section_service:last-child{
        border: none;
      }
      .section_service p {
        width: 50%;
        margin: auto;
      }
      .section_projects_filters {
        margin: 
        0px 50px;
      }
      .section_projects_filters ul {
        flex-wrap: wrap;
      }
      .section_team {
        max-width: 320px;
      }
      .section_clients .slide {
        max-width: 450px;
      }
      .section_clients .slide_area {
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .section_clients .slide_area p {
        width: 90%;
      }
      .section_companys .containner {
        justify-content: start;
        height: 50px;
      }
      .section_map {
        padding: 0;
        padding-bottom: 250px;
      }
      .section_map .map_area,
      .section_map .map_info {
        width: 100%;
      }
      .section_map .info_item {
        margin-bottom: 30px;
      }

}

@media (min-width: 450px) and (max-width:850px) {
    header .logo img{
        margin-left: 50px;
    }
    .menu .menu_mobile {
        display: block;
        align-items: center;
        margin-right: 50px;
        transform: scale(1.4);
    }
    .menu nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
        }
    .menu ul {
        flex-direction: column;
    }
    .menu li a {
        font-size: 27px;
        font-weight: bold;
        border: 0;
        height: 50px;
        margin-left: 50px;
        }
    .menu li.active a, 
    .menu li a:hover {
        border: none;
        color: #b98b59;
    }
    .section_about_us {
        padding: 0px 50px;
    }
    .section_about_us, .section_about_us__left, .section_about_us__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      .section_services {
        padding: 0px 50px;
        flex-wrap: wrap;
      }
      .section_services .section_service {
        flex-wrap: wrap;
        min-width: 50%;
        margin-top: 50px;
        border-left: none;
        text-align: center;
      }
      .section_services .section_service:last-child{
        border: none;
      }
      .section_service p {
        width: 50%;
        margin: auto;
      }
      .section_team {
        max-width: 640px;
      }
      .section_clients .slide_area {
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .section_clients .slide_area p {
        width: 50%;
      }
      .section_companys .containner {
        flex-wrap: wrap;
      }
      .section_companys .company_logo {
        width: 240px;
        margin-top: 30px;
      }
      .section_companys .company_logo img {
        transform: scale(1.1);
      }
      .section_map {
        padding: 50px;
      }
      .section_map .map_area,
      .section_map .map_info {
        width: 100%;
      }
      .section_map .info_item {
        margin-bottom: 30px;
      }
}
